* {
  margin: 0px;
  padding: 0px;
}

nav {
  list-style: none;
  text-align: right;
  margin-top: 17px;
  margin-right: 24px;
}
nav li a {
  color: #585858;
  text-decoration: none;
  font-size: 17px;
  margin-right: 3px;
}
nav li {
  display: inline-block;
}
.google-image a img {
  display: block;
  margin: auto;
  margin-top: 223px;
  margin-bottom: 26px;
}
#form-search {
  display: block;
  margin: auto;
  border: 1px solid black;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  width: 578px;
  font-size: 14px;
  padding-left: 11px;
  margin-bottom: 20px;
}
.buttons {
  display: block;
  margin: auto;
  width: 266px;
  margin-bottom: 370px;
}
#google_search,
#im_feeling_lucky {
  padding: 0 5px;
  font-size: 16px;
}
header nav ul li button {
  background-color: #007fff;
  border-radius: 5px;
  height: 36px;
  width: 72px;
  border: 1px solid white;
  box-shadow: none;
  font-weight: bold;
}
header nav ul li button a {
  color: white;
  font-style: inherit;
  font-size: 15px;
  text-align: center;
}
footer {
  display: flex;
  background-color: #f5f5f5;
  height: 85px;
  border-top: 1px solid #d3d3d3;
}
.footer-left {
  list-style: none;
  text-align: left;
  padding-top: 30px;
  flex-grow: 1;
}
.footer-right {
  list-style: none;
  text-align: right;
  padding-top: 30px;
  flex-grow: 1;
}
.footer-left li {
  display: inline-block;
}
.footer-right li {
  display: inline-block;
}
.footer-left li a {
  color: #585858;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
}
.footer-right li a {
  color: #585858;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
}
